<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>

	</startup>
	<appSettings>
		<add key="TelerikWinFormsThemeName" value="Fluent" />
		<!-- database location -->
		<!--add key="serverpath" value="Data Source=124.105.201.6:1433\LIPASQLSVRV2;Initial Catalog=PCMS GENERAL TOOL;User ID=sa;Password=Pcm$2020" />-->
		<add key="serverpath" value="Data Source=ERWIN-PC\WINSQLSVRV1;Initial Catalog=PCMS LIPA GENERAL TOOL;User ID=sa;Password=Yourmee@123" />
		<!-- add key="serverpath" value="Data Source=PRD-RDWEB\LIPASQLSVRV2;Initial Catalog=PCMS LIPA GENERAL TOOL;User ID=sa;Password=Pcm$2020" />
		<add key="backupsql2csvcoll" value="\\WHONNIXSVR\HR Files\PANTRY"/ -->

		<!-- backup of online database in case of failure -->
		<add key="backupsql2csvcoll" value="D:\Erwin\AppDev\Azure Dev Ops\PCMS Lipa General Tool v4\PCMS Lipa General Tool\PCMS Lipa General Tool\bin\backup\" />

		<!-- miscellaneous files need bay the program (-->
		<!---add key="privsupportpath" value="\\PCMSLIPASVR\PCMSGenTool\Private Tool\" />
		<add key="wcsupportpath" value="\\PCMSLIPASVR\PCMSGenTool\Work Comp Tool\" />
		<add key="StoragePath" value="\\WHONNIXSVR\HR Files\PANTRY" / -->
		<add key="privsupportpath" value="D:\Erwin\AppDev\Azure Dev Ops\PCMS Lipa General Tool\PCMS Lipa General Tool\bin\misc\Private Tool\" />
		<add key="wcsupportpath" value="D:\Erwin\AppDev\Azure Dev Ops\PCMS Lipa General Tool\PCMS Lipa General Tool\bin\misc\Work Comp Tool\" />
		<add key="StoragePath" value="D:\Erwin\AppDev\GitHub\PCMS Lipa General Tool (WinForm)\PCMS Lipa General Tool (WinForm)\bin\Misc\Pantry\" />

		<!-- Email Host -->
		<add key="smtpserver" value="readyhosting.com" />

		<!-- Email Distribution List -->
		<add key="privateTeamEmail" value="Erwin@pcmsbilling.net" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml.Framework" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ExCSS" publicKeyToken="bdbe16be9b936b9a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.HashCode" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Pkcs11Interop" publicKeyToken="c10e9c2d8c006d2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ShimSkiaSharp" publicKeyToken="dafe96fe6c845a74" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.4" newVersion="2.0.0.4" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="SkiaSharp" publicKeyToken="0738eb9f132ed756" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.116.0.0" newVersion="3.116.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Svg.Custom" publicKeyToken="dafe96fe6c845a74" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.4" newVersion="2.0.0.4" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Svg.Skia" publicKeyToken="dafe96fe6c845a74" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.0.10" newVersion="1.0.0.10" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Svg.Model" publicKeyToken="dafe96fe6c845a74" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.0.18" newVersion="1.0.0.18" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>